<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сокращалка 0.0</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/" class="nav-link">Главная</a>
                </li>
            </ul>
        </nav>
        <div id="sign-up-success">
            <h3>Регистрация прошла успешно!</h3>
            <a th:href="@{/login}">Перейдите, чтобы войти</a>
        </div>
    </div>
</body>
</html>